@font-face {
    font-family: 'Venus Rising Rg';
    src: url('VenusRisingRg-Regular.woff2') format('woff2'),
        url('VenusRisingRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

